.room__container {
    width: 250px;
    border-radius: 5px;
    padding: 0.3rem;
    display: flex;
    align-items: center;
}

.room__container-title {
    display: flex;
    flex-direction: column;
}

.room__container img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 0.4rem;
}

.room__container h3 {
    max-width: 180px;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
}

.room__container:hover,
.room__container-title:hover,
.room__container:hover h3,
.room__container:hover .room__container-title p {
    background: #d2d2d2;
    cursor: pointer;
}

.room__container:active,
.room__container-title:active,
.room__container:active h3,
.room__container:active .room__container-title p {
    box-shadow: inset;
    border: solid 0px #d2d2d2;
    cursor: progress;
}

.bg__ {
    background: #bbf8ff;
}